::selection {
    background-color: #FF6100;
    color: #fff;
}

::-moz-selection {
    background-color: #FF6100;
    color: #fff;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

body {
    font-size: 14px;
}

.contact-bar-top {
    height: 40px;
    background: #770207;
    line-height: 40px;
    color: #fff;
}

.vertical-align {
    vertical-align: middle;
}

.contact-bar-content {
    padding: 0px 5px;
}

.navigation-wrapper {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #eee;
    line-height: 70px;
    display: inline-block;
}

.nav-links {
    text-decoration: none;
    padding: 5px 10px;
    width: 50px;
}

.font-grey {
    color: #939393;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

.h2 {
    vertical-align: middle;
}

.banner-wrapper {
    height: 400px;
    width: 100%;
    padding-top: 50px;
    background: url("images/banner1.jpg") no-repeat;
    background-size: 100% 100%;
    color: #fff;
}

.banner-contents {
    min-height: 300px;
}

.bars {
    text-align: right;
}

.data-contents-wrapper {
    padding: 15px;
    margin-top: 15px;
}

.border-bottom {
    border-bottom: 1px solid #eee;
}

.border-bottom-brown {
    border-bottom: 2px solid #770207;
    color: #770207 !important;
}

.footer {
    min-height: 50px;
    width: 100%;
    background: #770207;
    color: #fff;
}

.copyright {
    line-height: 50px;
    vertical-align: middle;
}

.about-banner-wrapper {
    height: 400px;
    width: 100%;
    padding-top: 80px;
    background: url("images/about-banner.jpg") no-repeat;
    background-size: 100% 100%;
    color: #fff;
}

.padding {
    padding: 15px;
}

.about-content-image {
    width: 100%;
    height: 300px;
}

.bg-grey {
    background: #efefef;
}

.line-seperator {
    width: 100%;
    height: 30px;
    margin: 0px 10px;
}

.logo-wrapper {
    width: 170px;
    height: 60px;
    padding: 3px;
    line-height: 70px;
    vertical-align: middle;
}

.logo {
    height: 100%;
    width: 100%;
}

.services-banner-wrapper {
    height: 300px;
    width: 100%;
    padding-top: 80px;
    background-size: 100% 100%;
    color: #fff;
}

.service-cards-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card {
    /*border: 1px solid #eee;*/
    padding: 15px;
    margin: 5px;
    box-shadow: 0px 0px 0.1em #555;
}

.service-card-image {
    height: 200px;
    width: 100%;
}

.hoverable:hover {
    box-shadow: 0px 0px 0.6em #555;
    transition: all 0.3s ease-in-out;
}

.popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.btn-close {
    cursor: pointer;
    float: right;
    font-size: 150%;
}

.menu {
    background: #fff;
    padding: 15px;
    box-shadow: 0px 0px 1em #000;
    width: 100%;
    min-height: 90vh;
    margin-top: 5vh;
}

.services {
    line-height: 20px;
    border-radius: 0;
    margin: 0;
    padding: 0;
    margin-top: 8px;
    border: none;
    background: #f2f0f0;
}

.services div:hover {
    color: #fff;
    background: #770207;
    cursor: pointer;
    text-align: left !important;
    transition: all 0.5s ease-out;
}

.nav-links a {
    text-decoration: none;
    color: #707074;
    display: inline-block;
    height: 100%;
}

.nav-links a:hover {
    color: #606060;
}

.nav-links div a:hover {
    text-decoration: none;
    color: #fff;
}

.dropdown-links {
    padding: 5px 15px;
    line-height: 25px;
    display: block;
    width: 100%;
}

.dropdown-links:hover {
    color: #fff;
}

.service-btn:hover ~ .dropdown-menu, .dropdown-menu:hover {
    display: block;
}

.dropdown-menu:before {
    height: 20px;
    width: 20px;
    display: block;
    content: ' ';
    background: #f2f0f0;
    transform: rotate(45deg);
    margin-top: -4px;
    margin-left: 8px;
    z-index: -1;
    position: absolute;
    /*border: 1px solid #ccc;*/
}

.modal-footer {
    text-align: left !important;
}

.package {
    background: #fff;
    color: #615f5f;
    padding: 10px;
    border-radius: 3px;
}

.menu-item-container {
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.shadow {
    box-shadow: 0px 0px 0.3em #555;
}

.service-header {
    color: #1f1f1f;
    /*color: #898989;*/
}

.parallax1 {
    background: url("images/parallax.jpeg") fixed;
    padding: 15px;
    width: 100%;
    height: 100%;
}

.parallax2 {
    background: url("images/parallax2.jpg") fixed;
    padding: 15px;
}

.menu-card {
    padding: 15px;
}

.ul-no-style {
    list-style-type: none;
    padding: 0;
}

.no-margin {
    margin: 0;
}

.border-red {
    border-top: 4px solid #f00;
}

.border-orange {
    border-top: 4px solid orange;
}

.border-blue {
    border-top: 4px solid #0037ff;
}

.border-teal {
    border-top: 4px solid teal;
}

.menu-subheader {
    color: #ffa500;
}

.border-bottom-red {
    border-bottom: 2px solid #f00;
}

.btn-view-menu {
    font-size: 40%;
    border: 1px solid green;
    padding: 8px 12px;
    border-radius: 4px;
    color: green;
    float: right;
    cursor: pointer;
    line-height: inherit;
    vertical-align: middle;
}

.btn-view-menu:hover {
    background: green;
    color: #fff;
    transition: all 0.1s ease-in;
}

.modal-title {
    font-size: 200%;
    color: #6a6a6a;
}

.menu-item {
    color: #1a9d46;
}

.bg-olive {
    background: darkolivegreen;
}

.bg-oliveyellow {
    background: #b79833;
}

.bg-orange {
    background: orange;
}

.bg-orangered {
    background: orangered;
}

.bg-purple {
    background: #334cb7;
}

.bg-red {
    background: #b73633;
}

.bg-green {
    background: #92be1a;
}

.bg-mediumvioletred {
    background: mediumvioletred;
}

.bg-brown {
    background: #770207;
}

.no-overflow {
    overflow: hidden;
}

.height360 {
    min-height: 360px;
}

.height802 {
    min-height: 802px;
}

.height722 {
    min-height: 722px;
}

.font-white {
    color: #fff;
}

.font-black {
    color: #333;
}

.service-header-bg {
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
}

.fa-circle {
    color: #eee;
}

.disc {
    list-style-type: disc;
}

.floating-input {
    border: none;
    border-bottom: 2px solid #eee;
    width: 100%;
    height: 30px;
    text-transform: capitalize;
    color: #7a7a7a;
}

.floating-input:focus {
    outline: none;
    border-bottom: 2px solid #4297ed;
    transition: all 0.9s ease;
    background: none;
}

.input-group-addon {
    border: none;
    height: 30px !important;
    color: #7a7a7a;
    background: #fff;
    font-size: 150%;
    max-width: 60px;
}

.lineHeight100 {
    line-height: 60px;
}

textarea {
    min-height: 100px;
    resize: both;
}

.btn-submit-contact {
    width: 100%;
    height: 30px;
    color: #770207;
    background: #fff;
    border: 1px solid #770207;
    border-radius: 4px;
    margin-top: 5px;
}

.btn-submit-contact:hover {
    outline: none;
    color: #fff;
    background: #770207;
    border: none;
    transition: all 0.2s ease;
}

.height70vh {
    min-height: 85vh !important;
}

.input-error {
    border-bottom: 2px solid red;
    transition: all 0.5s ease;
}

.input-success {
    border-bottom: 2px solid green;
    transition: all 0.5s ease;
}

.no-transform {
    text-transform: none;
}

.bg-white {
    background: #fff;
}

.testimonial-text {
    font-size: 150%;
}

.corporate-catering-banner {
    background: url("images/corporateCateringBanner.jpg") no-repeat;
    background-size: 100% 100%;
    height: 400px;
}

.corporate-event-banner {
    background: url("images/corporateEventBanner.jpg") no-repeat;
    background-size: 100% 100%;
    height: 400px;
}

.wedding-event-banner {
    background: url("images/weddingEventBanner.jpg") no-repeat;
    background-size: 100% 100%;
    height: 400px;
}

.special-event-banner {
    background: url("images/weddingEventBanner.jpg") no-repeat;
    background-size: 100% 100%;
    height: 400px;
}

.testimonial-banner {
    background: url("images/testimonialBanner.jpg") no-repeat;
    background-size: 100% 100%;
    height: 400px;
}

.type {
    border-bottom: 2px solid yellowgreen;
}

.margin-left {
    margin-left: 15px;
}

.menu-header {
    padding: 5px 10px;
    background: #770207;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 0.3em #555;
}