::selection {
    background-color: #FF6100;
    color: #fff;
}

::-moz-selection {
    background-color: #FF6100;
    color: #fff;
}

body {
    font-size: 14px;
}

.contact-bar-top {
    height: 40px;
    background: #f4f4f4;
    line-height: 40px;
    color: #555;
}

.vertical-align {
    vertical-align: middle;
}

.contact-bar-content {
    padding: 0px 5px;
}

.navigation-wrapper {
    height: 70px;
    border-bottom: 1px solid #eee;
    line-height: 70px;
}

.nav-links {
    text-decoration: none;
    padding: 0px 10px;
}

.font-grey {
    color: #939393;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

.banner-wrapper {
    height: 400px;
    width: 100%;
    padding-top: 50px;
    background: url("images/banner1.jpg") no-repeat;
    background-size: 100% 100%;
    color: #fff;
}

.banner-contents {
    min-height: 300px;
}

.bars {
    text-align: right;
}

.data-contents-wrapper {
    padding: 15px;
    margin-top: 15px;
}

.border-bottom {
    border-bottom: 1px solid #eee;
}

.footer {
    min-height: 50px;
    width: 100%;
    background: #270000;
    color: #fff;
}

.copyright {
    line-height: 50px;
    vertical-align: middle;
}

.about-banner-wrapper {
    height: 300px;
    width: 100%;
    padding-top: 80px;
    background: url("images/about-banner.jpg") no-repeat;
    background-size: 100% 100%;
    color: #fff;
}

.padding {
    padding: 15px;
}

.about-content-image {
    width: 100%;
    height: 300px;
}

.bg-grey {
    background: #efefef;
}

.line-seperator {
    width: 100%;
    height: 30px;
    margin: 0px 10px;
}

.logo-wrapper {
    width: 170px;
    height: 60px;
    padding: 3px;
    line-height: 70px;
    vertical-align: middle;
}

.logo {
    height: 100%;
    width: 100%;
}

.services-banner-wrapper {
    height: 300px;
    width: 100%;
    padding-top: 80px;
    background: url("images/about-banner3.jpg") no-repeat;
    background-size: 100% 100%;
    color: #fff;
}

.service-cards-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card {
    border: 1px solid #eee;
    padding: 15px;
    margin: 5px;
    background: #eee;
    box-shadow: 0px 0px 0.1em #555;
}

.service-card-image {
    height: 200px;
    width: 100%;
}

.hoverable:hover {
    box-shadow: 0px 0px 0.3em #555;
    transition: all 0.5s ease-in-out;
}

.popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.btn-close {
    cursor: pointer;
    float: right;
    font-size: 150%;
}

.menu {
    background: #fff;
    padding: 15px;
    box-shadow: 0px 0px 1em #000;
    width: 100%;
    min-height: 90vh;
    margin-top: 5vh;
}