.font-lobster {
    font-family: 'Lobster', cursive;
}

.font-overlock {
    font-family: 'Overlock', cursive;
}

.font-lancelot {
    font-family: 'Lancelot', cursive;
}
.font-slabo {
    font-family: 'Slabo 27px', serif;
}

.font-yanone {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.font-acme {
    font-family: 'Acme', sans-serif;
}

.font-courgette {
    font-family: 'Courgette', cursive;
}

.font-tinos {
    font-family: 'Tinos', serif;
}

.font-oleo {
    font-family: 'Oleo Script', cursive;
}

.font-arima {
    font-family: 'Arima Madurai', cursive;
}

.font-squada {
    font-family: 'Squada One', cursive;
}

.font-scope {
    font-family: 'Scope One', serif;
}