<!DOCTYPE html>
<html lang="en" ng-app="lazeez-e-diyaaz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords"
          content="best catering, catering service, catering bangalore, top catering, food bangalore, bengaluru, lazeez, e, niyaz, lazeez-e-niyaz">
    <meta name="description" content="Best Catering Service with proper Quality and Hygiene">
    <link rel="shortcut icon" type="image/x-icon" href="images/logo.png" />
    <title>Lazeez-E-Niyaaz</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="mediaquery.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <script src="routes.js"></script>
    <script src="app.js"></script>
    <script src="appJQ.js"></script>
</head>
<body ng-controller="mainCtrl">

<!--Info Bar-->
<div class="contact-bar-top vertical-align hidden-sm hidden-xs">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <span class="contact-bar-content">
                <i class="fa fa-phone-square"></i> 974-242-4291
            </span>
            <span class="contact-bar-content">
                 <i class="fa fa-envelope"></i> info@lazeez-e-niyaz.com
            </span>
            <span class="contact-bar-content">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-google-plus"></i>
            </span>
        </div>
        <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
        </div>
    </div>
</div>

<div class="col-sm-12 col-xs-12 hiiden-lg hidden-md navbar-top-line">

</div>
<!--Navbar-->
<div class="navigation-wrapper vertical-align">
    <div class="container">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 vertical-align">
            <div class="logo-wrapper">
                <img src="images/logo.png" alt="Logo" class="logo"/>
            </div>
        </div>

        <!--1-->
        <div class="col-lg-8 col-md-8 hidden-sm hidden-xs right">
            <span class="nav-links">
                <a class="font-grey" href="#/home" ng-class="{'border-bottom-brown':currentTab==0}"
                   ng-click="setTab(0)"><i class="fa fa-home"></i> Home</a>
            </span>
            <span class="nav-links">
                <a class="font-grey" href="#/about" ng-class="{'border-bottom-brown':currentTab==1}"
                   ng-click="setTab(1)"><i class="fa fa-info-circle"></i> About</a>
            </span>
            <span class="nav-links dropdown">
                <a class="font-grey dropdown-toggle service-btn" href="" data-toggle="dropdown"
                   ng-class="{'border-bottom-brown':currentTab==2}">Services <i
                        class="fa fa-caret-down"></i></a>
                <div class="services dropdown-menu font-grey">
                    <div><a href="#/corporateCatering" class="dropdown-links" ng-click="setTab(2)">Corporate
                        Catering</a></div>
                    <div><a href="#/corporateEvents" class="dropdown-links" ng-click="setTab(2)">Corporate Events</a>
                    </div>
                    <div><a href="#/weddingEvents" class="dropdown-links" ng-click="setTab(2)">Wedding Events</a></div>
                    <div><a href="#/specialEvents" class="dropdown-links" ng-click="setTab(2)">Special Events</a></div>
                    <div><a href="#/allServices" class="dropdown-links" ng-click="setTab(2)">All Services</a></div>
                </div>
            </span>
            <span class="nav-links">
                <a class="font-grey" href="#/menu" ng-class="{'border-bottom-brown':currentTab==3}"
                   ng-click="setTab(3)"><i class="fa fa-bars"></i> Menu</a>
            </span>
            <span class="nav-links">
                <a class="font-grey" href="#/testimonials" ng-class="{'border-bottom-brown':currentTab==4}"
                   ng-click="setTab(4)"><i class="fa fa-quote-left"></i> Testimonials</a>
            </span>
            <span class="nav-links">
                <a class="font-grey" href="#/contact" ng-class="{'border-bottom-brown':currentTab==5}"
                   ng-click="setTab(5)"><i class="fa fa-phone-square"></i> Contact</a>
            </span>
        </div>

        <!--2-->
        <div class="col-lg-8 col-md-8 right nav-links-wrapper" ng-show="showMobileNavbar">
            <span class="nav-links" ng-click="showMobileNavbar=false">
                <a class="font-grey" href="#/home" ng-class="{'border-bottom-brown':currentTab==0}"
                   ng-click="setTab(0)"><i class="fa fa-home"></i> Home</a>
            </span>
            <span class="nav-links" ng-click="showMobileNavbar=false">
                <a class="font-grey" href="#/about" ng-class="{'border-bottom-brown':currentTab==1}"
                   ng-click="setTab(1)"><i class="fa fa-info-circle"></i> About</a>
            </span>
            <span class="nav-links dropdown">
                <a class="font-grey dropdown-toggle service-btn" href="" data-toggle="dropdown"
                   ng-class="{'border-bottom-brown':currentTab==2}">Services <i
                        class="fa fa-caret-down"></i></a>
                <div class="services dropdown-menu font-grey">
                    <div><a ng-click="showMobileNavbar=false" href="#/corporateCatering" class="dropdown-links"
                            ng-click="setTab(2)">Corporate Catering</a></div>
                    <div><a ng-click="showMobileNavbar=false" href="#/corporateEvents" class="dropdown-links"
                            ng-click="setTab(2)">Corporate Events</a></div>
                    <div><a ng-click="showMobileNavbar=false" href="#/weddingEvents" class="dropdown-links"
                            ng-click="setTab(2)">Wedding Events</a></div>
                    <div><a ng-click="showMobileNavbar=false" href="#/specialEvents" class="dropdown-links"
                            ng-click="setTab(2)">Special Events</a></div>
                    <div><a ng-click="showMobileNavbar=false" href="#/allServices" class="dropdown-links"
                            ng-click="setTab(2)">All Services</a></div>
                </div>
            </span>
            <span class="nav-links" ng-click="showMobileNavbar=false">
                <a class="font-grey" href="#/menu" ng-class="{'border-bottom-brown':currentTab==3}"
                   ng-click="setTab(3)"><i class="fa fa-bars"></i> Menu</a>
            </span>
            <span class="nav-links" ng-click="showMobileNavbar=false">
                <a class="font-grey" href="#/testimonials" ng-class="{'border-bottom-brown':currentTab==4}"
                   ng-click="setTab(4)"><i class="fa fa-quote-left"></i> Testimonials</a>
            </span>
            <span class="nav-links" ng-click="showMobileNavbar=false">
                <a class="font-grey" href="#/contact" ng-class="{'border-bottom-brown':currentTab==5}"
                   ng-click="setTab(5)"><i class="fa fa-phone-square"></i> Contact</a>
            </span>
        </div>

        <div class="hidden-lg hidden-md col-sm-6 col-xs-6 bars">
            <span class="right bars" ng-click="showMobileNavbar=false" ng-show="showMobileNavbar"><i
                    class="fa fa-times"></i></span>
            <i class="fa fa-bars" ng-hide="showMobileNavbar" ng-click="showMobileNavbar=true"></i>
        </div>
    </div>
</div>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<ng-view></ng-view>

<!--Social Media-->
<div class="col-lg-12 hidden-lg hidden-md">
    <div class="contact-bar-content center padding">
        <i class="fa fa-facebook font-facebook"></i>
        <i class="fa fa-twitter font-twitter"></i>
        <i class="fa fa-google-plus font-google-plus"></i>
    </div>
</div>

<!--Footer-->
<div class="footer" ng-hide="false">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 copyright">
            <span class="h6">
                Copyright &copy; 2016 Lazeez - E - Niyaaz. All rights reserved.
            </span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-sm hidden-xs right">
            <div class="contact-bar-content copyright">
                <b class="h6">Designed and Developed By <a href="http://www.facebook.com/dsouzaedison"
                                                           style="color: #95b733;" target="_new">Edison D'souza</a></b>
            </div>
            </div>
        </div>
    </div>
</div>

<!--POPUP-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header font-white" ng-class="modalColor">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-title {{modalColor}} font-white">{{modalHeader}}</div>
            </div>
            <div class="modal-body">
                <div class="menu-item" ng-repeat="item in items"><i class="fa fa-bullseye"></i> {{item}}</div>
            </div>
            <div class="modal-footer font-white {{modalColor}}">
                <div class="h6"><i class="fa fa-info-circle"></i> Note : Create your own package at custom events.</div>
            </div>
        </div>

    </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
</body>
</html>