<div class="parallax1" ng-init="setTab(2)">
    <div class="h2 center service-header service-header-bg container">
        Corporate Catering
    </div>
    <div class="container bg-grey">
        <div class="row no-overflow">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding bg-olive height360 hoverable">
                <div class="h3 center package">Crystal</div>
                <div class="menu-item-container font-white" ng-repeat="item in servicemenu[0]"><i
                        class="fa fa-dot-circle-o"></i> {{item}}
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding height360 hoverable">
                <div class="h3 center package">Silver</div>
                <div class="menu-item-container font-black" ng-repeat="item in servicemenu[1]"><i
                        class="fa fa-dot-circle-o"></i> {{item}}
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding bg-primary height360 hoverable">
                <div class="h3 center package">Gold</div>
                <div class="menu-item-container font-white" ng-repeat="item in servicemenu[2]"><i
                        class="fa fa-dot-circle-o"></i> {{item}}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="padding">
    <div class="h2 center service-header service-header-bg container">
        Corporate Events
    </div>
    <div class="container bg-grey">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding height802 hoverable">
                <div class="h3 center package">Crystal</div>
                <div class="menu-item-container font-black" ng-repeat="item in servicemenu[3]"><i
                        class="fa fa-dot-circle-o"></i> {{item}}
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding bg-purple height802 hoverable">
                <div class="h3 center package">Silver</div>
                <div class="menu-item-container font-white" ng-repeat="item in servicemenu[4]"><i
                        class="fa fa-dot-circle-o"></i> {{item}}
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding height802 hoverable">
                <div class="h3 center package">Gold</div>
                <div class="menu-item-container font-black" ng-repeat="item in servicemenu[5]"><i
                        class="fa fa-dot-circle-o"></i> {{item}}
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding bg-red height802 hoverable">
                <div class="h3 center package">Diamond</div>
                <div class="menu-item-container font-white" ng-repeat="item in servicemenu[6]"><i
                        class="fa fa-dot-circle-o"></i> {{item}}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="parallax2">
    <div class="h2 center service-header service-header-bg container">
        Wedding Events
    </div>
    <div class="container bg-grey">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding height722 hoverable bg-orangered">
                <div class="h3 center package">Crystal</div>
                <div class="menu-item-container font-white" ng-repeat="item in servicemenu[7]"><i
                        class="fa fa-dot-circle-o"></i> {{item}}
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding height722 hoverable">
                <div class="h3 center package">Silver</div>
                <div class="menu-item-container font-black" ng-repeat="item in servicemenu[8]"><i
                        class="fa fa-dot-circle-o"></i> {{item}}
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding height722 hoverable bg-orange">
                <div class="h3 center package">Gold</div>
                <div class="menu-item-container font-white" ng-repeat="item in servicemenu[9]"><i
                        class="fa fa-dot-circle-o"></i> {{item}}
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding height722 hoverable">
                <div class="h3 center package">Diamond</div>
                <div class="menu-item-container font-black" ng-repeat="item in servicemenu[10]"><i
                        class="fa fa-dot-circle-o"></i> {{item}}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="padding">
    <div class="h2 center service-header service-header-bg">
        Special Events
    </div>
    <div class="container bg-grey">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding height722 hoverable">
                <div class="h3 center package">Crystal</div>
                <div class="menu-item-container font-black" ng-repeat="item in servicemenu[11]"><i
                        class="fa fa-dot-circle-o"></i> {{item}}
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding height722 hoverable bg-mediumvioletred">
                <div class="h3 center package">Silver</div>
                <div class="menu-item-container font-white" ng-repeat="item in servicemenu[12]"><i
                        class="fa fa-dot-circle-o"></i> {{item}}
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding height722 hoverable">
                <div class="h3 center package">Gold</div>
                <div class="menu-item-container font-black" ng-repeat="item in servicemenu[13]"><i
                        class="fa fa-dot-circle-o"></i> {{item}}
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding height722 hoverable bg-green">
                <div class="h3 center package">Diamond</div>
                <div class="menu-item-container font-white" ng-repeat="item in servicemenu[14]"><i
                        class="fa fa-dot-circle-o"></i> {{item}}
                </div>
            </div>
        </div>
    </div>
</div>

