<div class="services-banner-wrapper corporate-event-banner" ng-init="setTab(2)">
    <div class="banner-contents">
        <div class="banner-title h1 center">
            Corporate Event
        </div>
        <div class="banner-content center h6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-push-3 col-md-push-3">
            Our food reflects our commitment to exceptional quality. All meals are prepared under the guidance of one of
            the most experienced chefs.
        </div>
    </div>
</div>


<div class="container padding border-bottom">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="h2 center">
                What is Corporate Event?
            </div>
            <img src="images/line-seperator.png" class="line-seperator" alt=""/>

            <div class="info1-text padding">
                Since 2013, Lazeez-E-Niyaz Catering has been the leader in Food industry for its creative cuisine,
                capital style and competitive pricing. Our experienced Team can assist you with every aspect of your
                event to ensure it is a smashing success.
                We take care of all the details, from preparation to clean up. Our prices are disclosed up front in your
                event contract, and we do not impose hidden charges. Our team of experienced chefs will make any event a
                pleasure. For all corporate offices Daily basis (Breakfast\Lunch\Dinner), corporate events, Weddings, or
                any in Home special events Lazeez- E- Niyaz Catering is your best choice.
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="images/banner3.jpg" alt="Image" class="about-content-image image-reponsive"/>
        </div>
    </div>
</div>


<div class="container service-cards-container" ng-click="showPopup=true">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="card hoverable">
                <img src="images/crystal.jpg" class="service-card-image" alt=""/>

                <div class="h2">Crystal <span class="btn-view-menu" data-toggle="modal" data-target="#myModal" ng-click="showMenuModal('corporateEventsCrystal','Crystal')"><i class="fa fa-th-list"></i> Menu</span></div>
                <div class="card-content">
                    We take care of all the details, from preparation to clean up. Our prices are disclosed up front in
                    your
                    event contract, and we do not impose hidden charges. Our team of experienced chefs will make any
                    event a
                    pleasure. For all corporate offices Daily basis (Breakfast\Lunch\Dinner), corporate events,
                    Weddings, or
                    any in Home special events Lazeez- E- Niyaz Catering is your best choice.
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="card hoverable">
                <img src="images/silver.jpg" class="service-card-image" alt=""/>

                <div class="h2">Silver <span class="btn-view-menu" data-toggle="modal" data-target="#myModal" ng-click="showMenuModal('corporateEventsSilver','Silver')"><i class="fa fa-th-list"></i> Menu</span></div>
                <div class="card-content">
                    We take care of all the details, from preparation to clean up. Our prices are disclosed up front in
                    your
                    event contract, and we do not impose hidden charges. Our team of experienced chefs will make any
                    event a
                    pleasure. For all corporate offices Daily basis (Breakfast\Lunch\Dinner), corporate events,
                    Weddings, or
                    any in Home special events Lazeez- E- Niyaz Catering is your best choice.
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="card hoverable">
                <img src="images/gold.jpg" class="service-card-image" alt=""/>

                <div class="h2">Gold <span class="btn-view-menu" data-toggle="modal" data-target="#myModal" ng-click="showMenuModal('corporateEventsGold','Gold')"><i class="fa fa-th-list"></i> Menu</span></div>
                <div class="card-content">
                    We take care of all the details, from preparation to clean up. Our prices are disclosed up front in
                    your
                    event contract, and we do not impose hidden charges. Our team of experienced chefs will make any
                    event a
                    pleasure. For all corporate offices Daily basis (Breakfast\Lunch\Dinner), corporate events,
                    Weddings, or
                    any in Home special events Lazeez- E- Niyaz Catering is your best choice.
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="card hoverable">
                <img src="images/diamond.jpg" class="service-card-image" alt=""/>

                <div class="h2">Diamond
                    <span class="btn-view-menu" data-toggle="modal" data-target="#myModal"
                          ng-click="showMenuModal('corporateEventsDiamond','Diamond')"><i
                            class="fa fa-th-list"></i> Menu</span>
                </div>
                <div class="card-content">
                    We take care of all the details, from preparation to clean up. Our prices are disclosed up front in
                    your
                    event contract, and we do not impose hidden charges. Our team of experienced chefs will make any
                    event a
                    pleasure. For all corporate offices Daily basis (Breakfast\Lunch\Dinner), corporate events,
                    Weddings, or
                    any in Home special events Lazeez- E- Niyaz Catering is your best choice.
                </div>
            </div>
        </div>
    </div>
</div>
