<div class="banner-wrapper" ng-init="setTab(0)">
    <div class="banner-contents">
        <div class="banner-title h1 center text-shadow-black">
            Lazeez-E-Niyaz
        </div>
        <div class="banner-content center col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-push-3 col-md-push-3 text-shadow-black">
            We here at Lazeez-E-Niyaz always on forefront to fulfil your food desire in more profound way . A perfect
            blend of the state of the art kitchen, matured and experienced chefs and the years of legacy will leave you
            in exuberant state.
        </div>
    </div>
</div>


<div class="container border-bottom">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="data-contents-wrapper">
            <div class="h2 home-card-header">
                Vision
            </div>
            <span class="h6 home-card-content">
                “Our priority is to provide the best in class food with no compromise on Quality, Hygienic and on-time service”
            </span>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="data-contents-wrapper">
            <div class="h2 home-card-header">Mission</div>
            <span class="h6 home-card-content">
                Catering  the versatile , sumptuous  food at competitive price with no compromise in  promptness and  punctuality in the service  and building exemplary rapport with existing clients and creating the platform to cater needs of the new clients.
            </span>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="data-contents-wrapper">
            <div class="h2 home-card-header">Food Philosophy</div>
            <span class="h6 home-card-content">
We focus on ingredients that are seasonally fresh and locally sourced. Our Experts are some of the finest in Bangalore Area, providing us with the tools to handcraft an artisan meal from start to finish.
            </span>
        </div>
    </div>
</div>