<div class="container">
    <div class="col-lg-12">

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 padding" ng-repeat="content in [1,1,1,1,1,1,1,1,1] track by $index">
            <div class="menu-card">
                <div class="h2 no-margin font-grey border-bottom-red">Starters</div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding">
                        <div class="h4 no-margin menu-subheader border-bottom">Rolls</div>
                        <ul class="ul-no-style">
                            <li>Item 1</li>
                            <li>Item 1</li>
                            <li>Item 1</li>
                            <li>Item 1</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding">
                        <div class="h4 no-margin menu-subheader border-bottom">Rolls</div>
                        <ul class="ul-no-style">
                            <li>Item 1</li>
                            <li>Item 1</li>
                            <li>Item 1</li>
                            <li>Item 1</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>