<div class="services-banner-wrapper testimonial-banner" ng-init="setTab(2)">
    <div class="banner-contents">
        <div class="banner-title h1 center text-shadow-black">
            Testimonials
        </div>
        <div class="banner-content center h5 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-push-3 col-md-push-3 text-capitalize text-shadow-black">
            We value your opinion. Please share your valuable experience with us.
        </div>
    </div>
</div>

<div class="bg-grey" ng-init="setTab(4)">
    <div class="container height70vh">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding">
                <div class="card padding bg-white">
                    <blockquote>
                        <p class="text-center testimonial-text font-oleo"><i class="fa fa-quote-left"></i> Lazeez-E-Niyaz is one
                            of the best catering service in the town. I always prefer them. <i
                                    class="fa fa-quote-right"></i></p>
                        <footer class="font-arima">Nitheesh Salian</footer>
                    </blockquote>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding">
                <div class="card padding bg-white">
                    <form action="testimonials.php" name="testimonialForm" novalidate>
                        <div class="lineHeight100">
                            <div class="h2 text-capitalize font-tinos">Share your Experience with Us</div>
                            <hr/>
                            <div class="input-group">
                            <span class="input-group-addon"><i
                                    class="fa fa-user input-group-addon"></i></span>
                                <input type="text" ng-model="name" id="name" name="name" class="floating-input"
                                       placeholder="Name"
                                       ng-class="!testimonialForm.name.$valid && (testimonialForm.name.$dirty)?'input-error':(testimonialForm.name.$dirty? 'input-success' : '')"
                                       ng-pattern="/^[a-zA-Z ]{3}[a-zA-Z ]*$/" ng-required="true"/>
                            </div>
                            <div class="input-group">
                            <span class="input-group-addon"><i
                                    class="fa fa-building input-group-addon"></i></span>
                                <input type="text" ng-model="company" id="company" name="company" class="floating-input"
                                       placeholder="Company working at(optional)"
                                       ng-pattern="/^[a-zA-Z ]{3}[a-zA-Z ]*$/"
                                       ng-class="!testimonialForm.company.$valid && (testimonialForm.company.$dirty)?'input-error':(testimonialForm.company.$dirty? 'input-success' : '')"/>
                            </div>
                            <div class="input-group">
                            <span class="input-group-addon"><i
                                    class="fa fa-envelope input-group-addon"></i></span>
                                <input type="text" type="text" ng-model="email" id="email" name="email"
                                       class="floating-input no-transform"
                                       placeholder="Email Id" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
                                       ng-class="!testimonialForm.email.$valid && (testimonialForm.email.$dirty)?'input-error':(testimonialForm.email.$dirty? 'input-success' : '')"
                                       ng-required="true"/>
                            </div>
                            <div class="input-group">
                            <span class="input-group-addon"><i
                                    class="fa fa-phone-square input-group-addon"></i></span>
                                <input type="text" ng-model="phone" id="phone" name="phone" class="floating-input"
                                       placeholder="Phone Number" ng-pattern="/^[0-9]{10}$/"
                                       ng-class="!testimonialForm.phone.$valid && (testimonialForm.phone.$dirty)?'input-error':(testimonialForm.phone.$dirty? 'input-success' : '')"
                                        />
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i
                                    class="fa fa-pencil-square-o input-group-addon"></i></span>
                         <textarea ng-model="message" id="message" name="message" class="floating-input"
                                   placeholder="Testimonial"
                                   ng-class="!testimonialForm.message.$valid && (testimonialForm.message.$dirty)?'input-error':(testimonialForm.message.$dirty? 'input-success' : '')"
                                   rows="10" ng-minlength="3" ng-required="true"></textarea>
                        </div>

                        <button class="btn-submit-contact"><i class="fa fa-paper-plane"></i> Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>