<div class="services-banner-wrapper wedding-event-banner" ng-init="setTab(2)">
    <div class="banner-contents">
        <div class="banner-title h1 center font-white text-shadow-black">
            Wedding Events
        </div>
        <div class="banner-content center col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-push-3 col-md-push-3 font-white text-shadow-black">
            Wedding is one time event in every human life. We at Lazeez-E-Niyaz, will surely make this event as a lifetime event.
        </div>
    </div>
</div>


<div class="container padding border-bottom">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="h2 center">
                What is Wedding Event?
            </div>
            <img src="images/line-seperator.png" class="line-seperator" alt=""/>

            <div class="info1-text padding">
                Your wedding is one of the most important days of your life. It should be perfect. Your guests should be
                thrilled. You should be carefree and overjoyed. These are our goals for your most special event, which
                is what makes us one of the top wedding caterers in Bangalore. Whether you are planning an outdoor
                summer wedding with close family and friends we at Lazeez-E-Niyaz are here to make sure your every
                wedding wish is fulfilled.
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="images/weddingEventBlock.jpg" alt="Image" class="about-content-image img-responsive padding"/>
        </div>
    </div>
</div>


<div class="container service-cards-container" ng-click="showPopup=true">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="card hoverable bg-gray font-white package-card">
                <img src="images/crystal.jpg" class="service-card-image img-responsive" alt=""/>

                <div class="h2">Crystal <span class="btn-view-menu font-white border-white" data-toggle="modal"
                                              data-target="#myModal"
                                              ng-click="showMenuModal('weddingEventsCrystal','Crystal')"><i
                        class="fa fa-th-list"></i> Menu</span></div>
                <div class="card-content">
                    This is very basic package offered by Lazeez-E- Niyaz, which includes limited number of Dishes with
                    reasonable price. But the quality standard will be same as set by Lazeez-E- Niyaz.
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="card hoverable bg-green package-card">
                <img src="images/silver.jpg" class="service-card-image img-responsive" alt=""/>

                <div class="h2 font-white">Silver <span class="btn-view-menu font-white border-white" data-toggle="modal"
                                             data-target="#myModal"
                                             ng-click="showMenuModal('weddingEventsSilver','Silver')"><i
                        class="fa fa-th-list"></i> Menu</span></div>
                <div class="card-content font-white">
                    This package includes all the dishes offered in Crystal package but few extra delicious dishes will
                    included as well to make your appetite worthier.
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="card hoverable bg-orange font-black package-card">
                <img src="images/gold.jpg" class="service-card-image img-responsive" alt=""/>

                <div class="h2 font-white">Gold <span class="btn-view-menu font-white border-white" data-toggle="modal" data-target="#myModal"
                                           ng-click="showMenuModal('weddingEventsGold','Gold')"><i
                        class="fa fa-th-list"></i> Menu</span></div>
                <div class="card-content font-white">
                    As the name suggests, The Gold package will offer you the tastiest and more delicious dishes which
                    on tasting, you will feel the Love with which our highly experienced chefs put in to prepare the
                    dishes.
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="card hoverable bg-primary package-card">
                <img src="images/diamond.jpg" class="service-card-image img-responsive" alt=""/>

                <div class="h2">Diamond
                    <span class="btn-view-menu font-white border-white" data-toggle="modal" data-target="#myModal"
                          ng-click="showMenuModal('weddingEventsDiamond','Diamond')"><i
                            class="fa fa-th-list"></i> Menu</span>
                </div>
                <div class="card-content">
                    This is a best-in- class package offered by Lazeez-E- Niyaz team, to make your presence very special
                    after which this package will make a long lasting impression. You might want to visit again.
                </div>
            </div>
        </div>
    </div>
</div>
